{{#is "post"}}
<div class="widget widget-post-toc">
      <header class="widget-header">
         <h4 class="widget-title">Table of Contents</h4>
      </header>
      <div class="post-toc"></div>
</div>
{{/is}}